node_modules
packages/*/node_modules
packages/*/.DS_Store
packages/*/*.local
packages/*/thumbs.db
packages/*/dist/**/*
packages/*/.eslintcache
packages/**/tsconfig.tsbuildinfo
# temporary
docs-site/
.idea
