body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* prevents bounce on scroll, see https://stackoverflow.com/a/28181319 */
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

svg, symbol {
  overflow: visible;
}
