#3d-preview-container {
  position: absolute;
  top:0;
  left: 0;
  background: url(../../static/images/space.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
